footer.footer
	.container-fluid
		.row
			.col
				p
					|Cổng Thông tin điện tử tỉnh Tiền Giang - http://www.tiengiang.gov.vn 
					br
					|Cơ quan chủ quản: Ủy ban nhân dân tỉnh Tiền Giang
					br
					|Giấy phép số 10/GP-STTTT do Sở Thông tin và Truyền thông cấp ngày 03/8/2018
					br
					|Chịu trách nhiệm: Bà Nguyễn Phương Bình - Phó Chánh Văn phòng UBND tỉnh Tiền Giang
					br
					|Ban Biên tập Cổng Thông tin điện tử tỉnh Tiền Giang
					br
					|Địa chỉ: Số 23, đường 30/4, phường 1, thành phố Mỹ Tho, tỉnh Tiền Giang
					br
					|Điện thoại: 0273.3977184, Email: banbientap@tiengiang.gov.vn
					br
					|® Ghi rõ nguồn "Cổng Thông tin điện tử tỉnh Tiền Giang" hoặc "www.tiengiang.gov.vn" khi phát hành lại thông tin từ Cổng Thông tin này
